body, html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: #222;
    color: #AAA;
    font-family: Sans, Verdana, Arial;
    
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.debugcanvas {
    position:absolute;
    top:0;
    left:0;
    pointer-events: none; /* forward clicks to lower elements */
}

#game {
    position:relative;
    width: 900px;
    height: 700px;
}

#game.fullscreen { /* bugs out when comma listed with prefixed stuff */
    width:100%;
    height:100%;
}

#game:full-screen, #game:-webkit-full-screen, #game:-moz-full-screen {
    width:100%;
    height:100%;
}


#cocos2d-demo {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
}

code {
    font-size: 1.2em;
}
